<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_template::head('Cadastrar')}"></head>

<body class="grey lighten-3">

    <nav th:replace="~{_template::#navbar}"></nav>

    <div class="container">

        <h2>Cadastrar Pizza</h2>

        <div class="row">
            <form class="col s12" th:action="${'/pizza'}" method="post" th:object="${pizza}">
                <div class="row">
                    <div class="input-field col s12">
                        <input 
                            th:field="*{flavor}" 
                            type="text" 
                            th:classappend="${#fields.hasErrors('flavor')} ? invalid" 
                        >
                        <label for="title">Sabor</label>
                        <span class="helper-text red-text" th:errors="*{flavor}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input 
                            th:field="*{client}" 
                            type="text" 
                            th:classappend="${#fields.hasErrors('client')} ? invalid" 
                        >
                        <label for="title">Cliente</label>
                        <span class="helper-text red-text" th:errors="*{client}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input 
                            th:field="*{description}" 
                            type="text" 
                            th:classappend="${#fields.hasErrors('description')} ? invalid" 
                        >
                        <label for="title">Descrição</label>
                        <span class="helper-text red-text" th:errors="*{description}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input 
                            th:field="*{date}" 
                            type="text" 
                            th:classappend="${#fields.hasErrors('date')} ? invalid" 
                        >
                        <label for="title">Data</label>
                        <span class="helper-text red-text" th:errors="*{date}"></span>
                    </div>
                </div>

                
                 
                <div>
                    <a href="/pizza" class="btn grey">cancelar</a>
                    <button class="btn">cadastrar</button>
                </div>
            </form>
        </div>


    </div>




</body>

</html>