<!DOCTYPE html>
<html lang="pt BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Pizza-Time</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/pizza">Pendentes</a></li>
            <li><a href="#">Entregues</a></li>
            <li><a href="#">Usuários</a></li>
            <li>
                <!-- Dropdown Trigger -->
                <a class='dropdown-trigger' href='#' data-target='dropdown1'>
                    <img th:src="${avatar_url}" alt="avatar do usuário logado" class="avatar">
                </a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><span th:text="${username}"></span></li>
                    <li class="divider" tabindex="-1"></li>
                    <li>
                        <a href="/logout">
                            <i class="material-icons">logout</i>
                            sair
                        </a>
                    </li>
                </ul>
            </li>
          </ul>
        </div>
      </nav>
    
    <div class="container">
        <h2 th:text="#{pizza.pending}"></h2>

        <div class="card-panel teal accent-3" th:if="${success}" th:text="${success}"></div>
        <div class="card-panel red darken-1 white-text" th:if="${error}" th:text="${error}"></div>

        <div class="row">
            <div class="col s12 m6" th:each="pizza : ${pizzaList}" >
                <div class="card">
                    <div class="card-image">
                        <img src="../../assets/pizza.jpg" class="responsive-img">
                        <span class="card-title" th:text="${pizza.flavor}"></span>
                    </div>
                    <div class="card-content">
                        <div class="progress">
                            <div class="determinate" th:style="${'width:' + pizza.status + '%'}"></div>
                        </div>
                    <span class="card-title" th:text="${'Cliente: ' + pizza.client}"></span>
                        <p th:text="${pizza.description}">
                         
                        </p>
                        <span class="badge blue white-text" th:text="${pizza.date}"></span>
                    </div>

                    <div class="card-action">
                        <a th:href="${'/pizza/delete/' + pizza.id}" class="btn red">
                            <i class="material-icons">delete</i>
                        </a>
                        <a  class="btn" title="subtrair status">
                            <i class="material-icons">remove</i>
                        </a>
                        <a class="btn"title="somar status">
                            <i class="material-icons">add</i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a href="/pizza/new" class="btn-floating btn-large blue" title="adicionar tarefa">
                <i class="large material-icons">add</i>
            </a>
        </div>
    </div>

   
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.dropdown-trigger');
          const options = {
              constrainWidth: false,
              coverTrigger: false
          }
          var instances = M.Dropdown.init(elems, options);
      });

</script>

</html>